@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');


#navbar{
    list-style-type: none;
    margin:0;
    padding: 0;
    display:flex ;
}

#logo{
    height:70% ;
    width: 50%;
    margin-top: 20px;
    margin-left: 50px;
}

#bell{
    height: 30px;
    width: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    cursor: pointer;
}

#usericon{
    height: 30px;
    width: 30px;
    margin-top: 40px;
    cursor: pointer;
}

#wallet{
    height: 30px;
    width: 30px;
    margin-right: 50px;
    margin-top: 40px;
    cursor: pointer;
}
#explore{
    margin-top: 40px;
}

#Investments{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    cursor: pointer;
}

#searchbar1{
    width: 300px;
    height: 30px;
    border: none;
    background-image:url('searchicon.jpg');
    background-repeat:no-repeat;
    background-size:20px 20px;
    background-position: 0px 5px;
    margin-right: 25px;
    margin-top: 40px;
    cursor: pointer;
}

a:link{
    text-decoration: none;
}

#explorebody{
    margin-top: 40px;
    margin-left: 10%;
    margin-right:20%;
}

#index{
    color:#44475b;
    font-size: 20px;
}

#explorebutton{
    background-color: white;
    color:black;
    border: none;
    cursor: pointer;
}

#investbutton{
    background-color: white;
    color:black;
    border: none;
    cursor: pointer;
}

#indexbar{
    list-style-type: none;
    margin:0;
    padding: 0;
    display:flex ;
}

#body1{
    font-family: Arial, sans-serif;
    margin-top: 50px;
    margin-right: 100px;
    float: right;
    font-weight: 500;
    font-size: 20px;
}

#heading{
    color: black;
    margin-left: 70px;
}

.ss1{
    width: 400px;
    height: 100px;
    background-color: white;
    border-color: whitesmoke;
    border-width: 1px;
    border-bottom: none;
}

.title{
    float: left;
    font-size: 20px;
}

.left1{
    font-size: 17px;
    float: right;
}

.change{
    color: red;
}

#body2{
    margin-left: 100px;
}

#mainstock{
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    display:flex ;
}

.mstock{
    height: 60px;
    width: 200px;
    background-color: white;
    border-width: 1px;
    border-color: darkgrey;
    border-radius: 5px;
    margin-right: 40px;
    color: rgb(15, 15, 15);
    font-size: 14px;
    font-weight: 600;
}

.change{
    color: green;
}

.price{
    float: right;
}

.mtitle{
    float: left;
}

#holdings{
    width: 800px;
    height: 160px;
    border: solid;
    border-width: 1px;
    border-bottom: none;
    border-radius: 5px;
    border-color: whitesmoke;
    background-color: #a9d1ff;
}

#right{
    float: right;
    padding-top: 30px;
    padding-right: 200px;
}

#current{
    font-size: 25px;
    font-weight: 700;
}

#left{
    float: left;
    padding-left: 30px;
    padding-top: 15px;
}

#iv{
    padding-left: 30px;
}

#tr{
    padding-left: 30px;
    color: red;
}

.hold{
    margin-top: 10px;
}

#holdhead{
    width: 800px;
    height: auto;
    border: solid;
    border-width: 1px;
    border-color: whitesmoke;
    border-top: none;
    padding-top: 40px;
    padding-bottom: 10px;
}

#head{
border: 10px solid black;
}

#s1{
    padding-top: 40px;
    text-align: center;
    border: #44475b;
}

#s2{
    padding-top: 40px;
    text-align: center;
    border: #44475b;
}

#s1c{
    padding-top: 40px;
    text-align: center;
    border: #44475b;
    font-size: 12px;
}

#s2c{
    padding-top: 40px;
    text-align: center;
    border: #44475b;
    font-size: 12px;
}

.mktchange,.retchange{
    color: red;
}

.shares{
    color: #7c7e8c;
}

#ret1,#ret2{
    color: red;
}





footer{
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    flex-wrap: wrap;
    width:100%;
    min-height: 250px;
    margin-top: 300px;
     padding:2rem 1rem;
     box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.04),
                5px 5px 5px rgba(0,0,0,0.1),
                inset -15px 0px 15px rgba(0, 0, 0, 0.3),
                inset 15px 0px 15px rgba(0, 0, 0, 0.3),
                inset 5px 5px 10px rgba(0,0,0,0.3);
}
.content-box{
width: 400px;
padding:1rem;
margin:1rem;
min-height:320px;
box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.04),
                5px 5px 5px rgba(0,0,0,0.1),
                inset -4px -4px 15px rgba(255, 255, 255, 0.01),
                inset 5px 5px 10px rgba(0,0,0,0.3);

}
.content-head h1{
    padding: 0.2rem;
    margin-bottom: 1rem;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.04),
                5px 5px 5px rgba(0,0,0,0.1);
            

}
.content-head h1::after{
    content:"";
    display:block;
    width:80px;
    height:5px;
    margin: 0.2rem 0 0.5rem 0;
    border-radius: 10px;
    background-color:#ff9f1a;

}
.content-body .fa {
    padding:0.5rem;
    font-size:1rem;
    color:#ff9f1a;
    width:2rem;
    line-height:1rem;
    text-align:center;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.04),
    5px 5px 5px rgba(0,0,0,0.1),
    inset -4px -4px 15px rgba(255, 255, 255, 0.01),
    inset 5px 5px 10px rgba(0,0,0,0.1);
}
.content-body p{
    margin: 0.5rem 0rem;
   
}
.icons{
    display: block;
    margin-top: 2rem;
    text-align:center;
}
.icons span{
    display: inline-block;
    width:40px;
    line-height:20px;
    font-size: 1.2rem;
    text-align:center;
    padding:0.5rem;
    margin: 1rem;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: -5px -5px 5px rgba(255, 255 , 255, 0.01),
    5px 5px 5px rgba(0,0,0,0.2),
    inset 5px 5px 5px rgba(255,255,255,0.05),
    inset -5px -5px 5px rgba(0,0,0,0.1) ;
    transition: box-shadow 0.3s;

}
.icons span:hover{
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.04),
    5px 5px 5px rgba(0,0,0,0.1),
    inset -4px -4px 15px rgba(255, 255, 255, 0.01),
    inset 5px 5px 10px rgba(0,0,0,0.3);
}
.icons span:nth-child(1):hover .fa{
    color :#6a89cc;
}
.icons span:nth-child(2):hover .fa{
    color :#4a69bd;
}
.icons span:nth-child(3):hover .fa{
    color :#B53471;
}
.icons span:nth-child(4):hover .fa{
    color :red;
}
.content-body span{
    margin-left:1rem ;
    padding:0.5rem;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.04),
    5px 5px 5px rgba(0,0,0,0.1);
}
.content-body input ,textarea{
width:350px;
background:transparent;
border:transparent;
padding: 0.5rem;
margin:0.5rem 0rem;
outline:none;
color:#fff;
box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.04),
                5px 5px 5px rgba(0,0,0,0.1),
                inset -4px -4px 15px rgba(255, 255, 255, 0.01),
                inset 5px 5px 10px rgba(0,0,0,0.3);
}
::placeholder{
    font-family: 'Odibee Sans', cursive;
    color:rgb(112, 112, 112);
    letter-spacing: 1px;
}
.content-body button{
    border:transparent;
    background: transparent;
    padding:0.3rem 1rem;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.04),
    5px 5px 5px rgba(0,0,0,0.1);
    color:#fff;
    font-size:1rem;
    margin:0.2rem;
    cursor:pointer;
    transition: box-shadow 0.2s;
}
.content-body button:hover{
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.04),
    5px 5px 5px rgba(0,0,0,0.1),
    inset -4px -4px 15px rgba(255, 255, 255, 0.01),
    inset 5px 5px 10px rgba(0,0,0,0.3);
}
.footer-bottom{
    width:100%;
    height:50px;
    text-align:center;
}
.footer-bottom p{
    display:inline-block;
    padding:1rem 2rem;
    border-radius:30px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.04),
    5px 5px 5px rgba(0,0,0,0.1),
    inset -4px -4px 15px rgba(255, 255, 255, 0.01),
    inset 5px 5px 10px rgba(0,0,0,0.3);
}
.footer-bottom .fa{
    margin:0rem 0.5rem;
    color:red;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.04),
                5px 5px 5px rgba(0,0,0,0.1);
    padding:0.2rem;
    border-radius: 50%;
    animation: bump 2s ease-in-out infinite;
}
::selection{
    background-color: #ff9f1a;
}
@keyframes bump {
    0%{
      transform: scale(1);
      }
    50%{
        transform: scale(1.3);
        }
    100%{
        transform: scale(1);
        }
    
}

@media screen and (max-width:750px){
    .header h1{
        font-size: 1.3rem;
    }
}
